<nav>
  <ul>
    <li><a [routerLink]="['/']">Disciplinas</a></li>
    <li><a [routerLink]="['/temporizador']">Temporizador</a></li>
  </ul>
</nav>
<app-header></app-header>
<router-outlet></router-outlet>
<!--
  Crie um projeto de aplicação web com sua identificação (nome completo e RA) no cabeçalho e os seguintes recursos:

      Um serviço de temporizador

      Um componente que permita iniciar e parar o temporizador com um intervalo definido pelo usuário

      Um serviço para prover uma lista de disciplinas matriculadas, já populada com as disciplinas que você está cursando neste semestre

Um componente que permita listar e manipular (incluir e remover) sua lista de disciplinas  
 -->