<article>
  <h2>Identificação</h2>
  <div class="identifica">
    <p>
      <span class="ln">1</span>
      <span class="pink">const</span>
      helioDias
      <span class="pink">=</span>{{ ' {' }}
    </p>
    <p>
      <span class="ln">2</span>
      <span class="title"
        >nomeCompleto
        <span class="pink">:</span>
      </span>
      <span class="yellow"> 'Helio Gabriel Cavalcante Dias' </span>
    </p>
    <p>
      <span class="ln">3</span>
      <span class="title"
        >registroDoAluno
        <span class="pink">:</span>
      </span>
      <span class="yellow"> '0050831921009' </span>
      <br />
      <span class="ln">4</span>{{ ' }' }}
    </p>
  </div>
</article>
<article>
  <h2>Bitcoin Rates</h2>
  <p>
    De 1 em 1 minuto o sistema se atualizará automaticamente,caso fique
    <span class="green">verde</span> significa que o valor aumentou, caso fique
    <span class="red">vermelho</span> significa que caiu.
  </p>
  <app-bitcoin></app-bitcoin>
</article>
