/* Add application styles & imports to this file! */
body {
  background-color: #44475a;
  font-family: 'Consolas', sans-serif;
}
h2 {
  text-align: center;
}
article {
  width: 90%;
  padding: 15px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #282a36;
  color: #f8f8f2;
  margin-bottom: 1.5rem;
}
article div {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem 0;
  width: 30%;
  min-width: 400px;
  margin: 1rem auto;
}
p {
  text-align: center;
}
div p {
  margin: 0;
  text-align: left;
}
.ln {
  color: #6272a4;
  margin-right: 5px;
}
.title {
  margin-left: 0.5rem;
  margin-right: 5px;
}
.yellow {
  color: #f1fa8c;
}
.pink {
  color: #ff79c6;
}
table {
  border-collapse: collapse;
  margin: 1rem auto;
}
th {
  background-color: #6272a4;
  font-size: 1.2rem;
}
table,
td,
th {
  border: 1px solid #f8f8f2;
}
td,
th {
  padding: 10px;
}
tbody tr:first-of-type .red,
tbody tr:first-of-type .green {
  color: #f8f8f2;
}
.green {
  color: #50fa7b;
}
.red {
  color: #ff5555;
}
p .red,
.green {
  font-weight: bold;
}
